<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968198880037-iira0dtgfj4jst52v8nq278u6fv93pjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968198880037-iira0dtgfj4jst52v8nq278u6fv93pjk</string>
	<key>API_KEY</key>
	<string>AIzaSyCQPJYv9ZTuhfj_RwnWpPbuEHGFDt5wzvg</string>
	<key>GCM_SENDER_ID</key>
	<string>968198880037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zahau.mobile.Trinity</string>
	<key>PROJECT_ID</key>
	<string>trinity-bf2e3</string>
	<key>STORAGE_BUCKET</key>
	<string>trinity-bf2e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968198880037:ios:0ef7822fc1b5df275378cc</string>
	<key>DATABASE_URL</key>
	<string>https://trinity-bf2e3.firebaseio.com</string>
</dict>
</plist>